{{- $name := "Alex Ragalie" -}}
{{- $email := "2127095+aragalie@users.noreply.github.com" -}}
{{- $github_user := "aragalie" -}}
{{- $computer_name := default "alex-computer-name" (env "CM_computer_name") -}}
{{- $hostname := default "alex" (env "CM_hostname") -}}


{{- if (env "ASK") }}
{{-   $computer_name = promptString "Computer Name" $computer_name -}}
{{-   $hostname = promptString "Hostname" $hostname -}}
{{-   $name = promptString "Full Name" $name -}}
{{-   $email = promptString "Email" $email -}}
{{-   $github_user = promptString "GitHub Username" $github_user -}}
{{- end }}

{{- $delta_is_not_installed := true }}
{{- if (contains "delta" (output "bash" "-c" "command -v delta || true")) }}
{{-   $delta_is_not_installed = false }}
{{- end }}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  github_user: {{ $github_user | quote }}
  computer_name: {{ $computer_name | quote }}
  hostname: {{ $hostname | quote }}
  flags:
    delta_is_not_installed: {{ $delta_is_not_installed }}