{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

source /tmp/chezmoi-utils.sh

printf "${green}[22 - macOS] ${reset}"
{{- if or (lt 22 (atoi (env "SCRIPTS_START_AT"))) (env "SKIP_MAS") }}
echo "Skip installing Mac App Store apps via mas"
exit 0
{{ else }}
echo "Install Mac App Store apps via mas"
{{- end }}

set -ufo pipefail

{{- if not (eq .computer_name "alex-m1") }}
mas account &> /dev/null

if [[ $? -ne 0 ]]; then
  echo "Please login to Mac app store first, then run command again"
  mas open
  exit 0
fi
{{- end }}

brew bundle --no-lock --file=/dev/stdin <<EOF

mas "1Password 7", id: 1333542190
mas "Affinity Designer", id: 824171161
mas "Affinity Photo", id: 824183456
mas "Affinity Publisher", id: 881418622
mas "Day One", id: 1055511498
mas "GrandPerspective", id: 1111570163
mas "Jolt of Caffeine", id: 1437130425
mas "Microsoft Word", id: 462054704
mas "Moom", id: 419330170
mas "Slack", id: 803453959
mas "Tadama", id: 1415817706
mas "The Unarchiver", id: 425424353
mas "Tweetbot", id: 1384080005
mas "WhatsApp", id: 1147396723
mas "Xcode", id: 497799835

EOF
{{ end -}}
